<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>My Lingvo</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock styles %}
</head>
<body>
    <div class="container">
        <button class="back-button" onclick="window.history.back()">&#8592; Назад</button>

        <h1>Проверка записи</h1>
        <div class="block" id="teacherBlock">
                <img src="{{ teacher.photo.url }}" alt="Иконка" class="icon">
                 <span>{{ teacher.user.last_name }} <br> {{ teacher.user.first_name }} {{ teacher.user.middle_name }}</span>
        </div>


        <h3>Дата и время</h3>
        <div class="block" id="timeBlock-confirm">
            <div class="time">
                {{ selected_date|date:"d M Y" }} в {{ selected_time }}
            </div>
        </div>
        <!-- Блок с дополнительными данными (категория и уровень) -->
        <div class="block" id="additionalDataBlock">
            <form id="additionalDataForm">
                <label for="program">Выберите категорию:</label>
                <select id="program" name="program">
                    <option value="children">Английский язык для детей 7-11 лет</option>
                    <option value="teens">Английский язык для подростков 12-18 лет</option>
                    <option value="adults">Английский язык для взрослых от 18 лет</option>
                </select>
                <label for="level">Уровень владения языком:</label>
                <select id="level" name="level">
                    <option value="beginner">Начальный</option>
                    <option value="intermediate">Средний</option>
                    <option value="advanced">Продвинутый</option>
                </select>
            </form>
        </div>
       <form id="bookingForm" method="post" action="{% url 'book_slot' %}">
    {% csrf_token %}
    <input type="hidden" name="slot_id" value="{{ slot.id }}">
    <input type="hidden" name="user_id" value="{{ user.id }}">
    <button type="submit" class="button" id="bookButton">Подтвердить</button>
</form>
    </div>
<script src = "{% static 'js/confirmation.js' %}"></script>
</body>
</html>

