<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lingvo</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock styles %}
</head>
<body>
    <div class="container">
        <button class="back-button" onclick="window.history.back()">&#8592; Назад</button>

        <h1>Запись на пробное занятие</h1>
        <div class="block">
            <img src="{% static 'logo.png' %}" alt="Иконка" class="icon">
            <a href="{% url 'teacher-page' %}">Выбрать преподавателя</a>
        </div>
        <h1>Запланированное занятие</h1>
<div class="block" id="future-lessons">
    <span class="details">
        <strong>02 февраля 2025<br>19:30</strong><br>Петр Петров
    </span>
    <button class="cancel-button" data-lesson-id="1">Отменить</button>
    <img src="{% static 'img/profile.jpeg' %}" alt="Иконка" class="icon">
</div>
        <h1>Прошедшее занятие</h1>
        <div class="block" id="past-lessons">
            <span class="details">
                <strong>01 февраля 2025<br>20:00</strong><br>Иван Иванов
            </span>
            <img src="{% static 'img/profile.jpeg' %}" alt="Иконка" class="icon">
        </div>
    </div>
<script src = "{% static 'js/lesson.js' %}"></script>
</body>
</html>