<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lingvo</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock styles %}
</head>
<body>
    <div class="container">
        <button class="back-button" onclick="window.history.back()">&#8592; Назад</button>

        <h1>Запись на пробное занятие</h1>
        <div class="block">
            <img src="{% static 'img/logo.png' %}" alt="Иконка" class="logo-image">
            <a href="{% url 'teacher_page' %}">Выбрать преподавателя</a>
        </div>
        <h1>Запланированное занятие</h1>
<div class="block" id="future-lessons">
    {% for lesson in future_lessons %}
    <span class="details">
        <strong>{{ lesson.date|date:"d F Y" }}<br>{{ lesson.time }}</strong><br>{{ lesson.name }}
    </span>
    <button class="cancel-button" data-lesson-id="{{ lesson.id }}">Отменить</button>
    <img src="{% static 'img/profile.jpeg' %}" alt="Иконка" class="icon">
    {% empty %}
        <p>У вас нет запланированных занятий.</p>
    {% endfor %}
</div>
        <h1>Прошедшее занятие</h1>
        <div class="block" id="past-lessons">
            {% for lesson in past_lessons %}
            <span class="details">
                <strong>{{ lesson.date|date:"d F Y" }}<br>{{ lesson.time }}</strong><br>{{ lesson.name }}
            </span>
            <img src="{% static 'img/profile.jpeg' %}" alt="Иконка" class="icon">
            {% empty %}
               <p>У вас нет прошедших занятий.</p>
            {% endfor %}
        </div>
    </div>
<script src = "{% static 'js/lesson.js' %}"></script>
</body>
</html>