<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lingvo</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock styles %}
</head>
<body>
    <div class="container">
        <img src="{% static 'img/header.png' %}" alt="Хедер" class="header-image">
        <div class="block">
            <img src="{% static 'img/logo.png' %}" alt="Иконка" class="logo-image">
            <a href="#">О нас</a>
        </div>
        <div class="block">
            <img src="{% static 'img/logo.png' %}" alt="Иконка" class="logo-image">
            <a href="{% url 'lesson_page' %}?{{ request.GET.urlencode }}">Запись на пробное занятие</a>
        </div>
        <div class="block">
            <img src="{% static 'img/logo.png' %}" alt="Иконка" class="logo-image">
            <a href="#">Программы обучения</a>
        </div>
    </div>
</body>
</html>