<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lingvo</title>
    {% load static %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% endblock styles %}
</head>
<body>
    <div class="container">
        <img src="{% static 'header.png' %}" alt="Хедер" class="header-image">
        <div class="block">
            <img src="{% static 'logo.png' %}" alt="Иконка" class="logo-image">
            <a href="https://www.mylingvoacademy.ru">О нас</a>
        </div>
        <div class="block">
            <img src="{% static 'logo.png' %}" alt="Иконка" class="logo-image">
            <a href="{% url 'lesson-page' %}">Запись на пробное занятие</a>
        </div>
        <div class="block">
            <img src="{% static 'logo.png' %}" alt="Иконка" class="logo-image">
            <a href="https://mylingvoacademy.ru/programs">Программы обучения</a>
        </div>
    </div>
</body>
</html>