<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lingvo</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% block styles %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% endblock styles %}
</head>
<body>
    <div class="container">
        <button class="back-button" onclick="window.history.back()">&#8592; Назад</button>

        <h1>Преподаватели</h1>
        {% for teacher in teachers %}
            <a href="{% url 'date-page' teacher.id %}">
                <div class="block">
                    <img src="{% static 'image/profile.jpg' %}" alt="Иконка" class="icon">
                    <span>{{ teacher.name }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
</body>
</html>